<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333520941163-g542ksa8r1infa29247fhve1ur2opavi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333520941163-g542ksa8r1infa29247fhve1ur2opavi</string>
	<key>API_KEY</key>
	<string>AIzaSyChXZIYq9VzxSsUTjT9Swddyn8CaDfPO80</string>
	<key>GCM_SENDER_ID</key>
	<string>333520941163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CircleKCoders.GasMoney</string>
	<key>PROJECT_ID</key>
	<string>gas-money-dacec</string>
	<key>STORAGE_BUCKET</key>
	<string>gas-money-dacec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333520941163:ios:3a84f234fe4c8ca5e6c12e</string>
</dict>
</plist>